/vendor
/node_modules
.env
.env.backup
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/*.key
/public/hot
/public/storage

docker/mysql/*
docker/mysql/data/*
docker/mysql/logs/*
docker-compose.override.yml
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

*.db
*.sqlite

*.log